
#contents of /data folder containing test data
/data/


#contents of /analysis/ folder
*.bed
*.dist_matrix
*.fasta
*.fasta.amb
*.fasta.ann
*.fasta.bwt
*.fasta.pac
*.fasta.sa
log*
/analysis/ADK/
/analysis/FUMC/
/analysis/GYRB/
/analysis/ICD/
/analysis/MDH/
/analysis/PURA/
/analysis/RECA/


#contents of /analysis/database_report
/analysis/database_report/*.dist_distr
/analysis/database_report/*.lengths


